# Ignore Visual Studio temporary files
**/.vs/
**/.vscode/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs

# Ignore build output
**/bin/
**/obj/

# Ignore file system indexes
**/*.vsix

# Ignore appsettings.json and environment-specific settings at any level
**/appsettings.json
**/appsettings.*.json
