<footer id="footer" class="Footer_footer__pJUho">
    <div class="Footer_footer__container__dTA60 screen1390:max-w-screen-xl xl:max-w-screen-screen1200 lg:max-w-4xl md:max-w-4xl md:px-4 sm:px-[45px] px-[16px]">
        <div class="py-8">
            <div class="grid grid-cols-2 gap-y-4 md:gap-y-0 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-4">
                <div>
                    <h3 class="Footer_footer__title__CRSrF mb-3 md:mb-6">Giới thiệu</h3>
                    <ul>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/ve-chung-toi/">Về chúng tôi</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/thoa-thuan-su-dung/">Thoả thuận sử dụng</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/quy-che-hoat-dong/">Quy chế hoạt động</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/chinh-sach-bao-mat/">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="Footer_footer__title__CRSrF mb-3 md:mb-6">Góc điện ảnh</h3>
                    <ul>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/dien-anh/">Thể loại phim</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/binh-luan-phim/">Bình luận phim</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/movie-blog/">Blog điện ảnh</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/phim-hay/">Phim hay tháng</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="Footer_footer__title__CRSrF mb-3 md:mb-6">Hỗ trợ</h3>
                    <ul>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/gop-y/">Góp ý</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/sale-and-service/">Sale &amp; Services</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="" href="https://www.galaxycine.vn/rap-gia-ve/fb233b0f-edb4-4eb1-ade8-7f8b83ab2457/">Rạp / Giá vé</a>
                        </li>
                        <li class="hover:text-[#FD841F] transition-all duration-300">
                            <a class="Footer_footer__list__item__HP4Ou leading-10 text-[#d0d0d0] hover:text-[#FD841F] transition-all duration-300" target="_blank" href="https://tuyendung-daotao.galaxystudio.vn/">Tuyển dụng</a>
                        </li>
                    </ul>
                </div>
                <div id="register" class="grid grid-cols-1 md:grid-cols-[300px_minmax(900px,1fr)_100px] xl:block">
                    <div id="connect" class="footer__connect">
                        <div class="footer__logo mb-5">
                            <img alt="Galaxy - Cinema" loading="lazy" width="94" height="42" decoding="async" src="https://www.galaxycine.vn/_next/static/media/glx-footer.svg">
                        </div>
                        <ul class="Footer_connect__icon__9_xjQ">
                            <li>
                                <a href="https://www.facebook.com/galaxycinevn" target="_blank">
                                    <i class="fab fa-square-facebook fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/galaxymovies" target="_blank">
                                    <i class="fab fa-youtube fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/galaxycinema" target="_blank">
                                    <i class="fab fa-square-instagram fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="Footer_footer__bottom__Ro_Ls">
            <div class="flex justify-items-start justify-start items-center gap-5">
                <div class="footer__logo">
                    <img alt="Galaxy - Cinema" loading="lazy" width="94" height="42" decoding="async" src="https://www.galaxycine.vn/_next/static/media/glx-footer.svg">
                </div>
                <div class="Footer_footer__bottom__content__154Qe">
                    <h3>CÔNG TY CỔ PHẦN PHIM THIÊN NGÂN</h3>
                    <p>3/9 Võ Văn Tần, Phường Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh, Việt Nam</p>
                    <p>
                        <i class="fas fa-mobile"></i>: <a class="hover:text-[#FD841F] transition-all duration-300" href="tel:028.39.333.303">028.39.333.303</a> -
                        <i class="fas fa-phone"></i>: <a class="hover:text-[#FD841F] transition-all duration-300" href="tel:19002224">19002224 (9:00 - 22:00)</a> -
                        <i class="fas fa-paper-plane"></i>: <a class="hover:text-[#FD841F] transition-all duration-300" href="mailto:hotro@galaxystudio.vn" target="_blank">hotro@galaxystudio.vn</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>