<header class="Header_header__iG0T4 pt-5 pb-2 lg:pt-3">
    <div class="bg-[#343a40] opacity-60 fixed top-0 right-0 bottom-0 left-0 z-[1020] overflow-hidden w-screen h-screen transition-all duration-500 ease-in-out hidden screen1200:hidden"></div>
    <div class="my-0 mx-auto screen1390:max-w-screen-xl xl:max-w-screen-screen1200 screen1200:max-w-6xl lg:max-w-4xl md:max-w-4xl lg:px-0 md:px-4 sm:px-[45px] px-[16px]">
        <nav class="flex justify-start justify-items-center items-center flex-row undefined">
            <a class="logo__header grow-0 md:mr-[40px] mr-[20px]" href="/">
                <img alt="Galaxy - Cinema" loading="lazy" width="115" height="60" decoding="async" class="max-w-min w-[77px] h-[40px] lg:w-[115px] lg:h-[60px] object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0" src="https://www.galaxycine.vn/_next/static/media/galaxy-logo-mobile.074abeac.png">
            </a>
            <a class="screen1200:hidden grow text-left block mr-4" href="/client/DatVe">
                <img alt="Ticket" loading="lazy" width="112" height="36" decoding="async" class="max-w-min w-[84px] h-[27px] lg:w-[112px] lg:h-[36px] inline-block object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp">
            </a>
            <div class="hidden screen1200:flex screen1200:grow screen1200:basis-full items-center gap-8 px-5 transition-all duration-300 ease-in-out">
                <div class="grow md:flex hidden items-center justify-center">
                    <a class="md:block hidden mr-4" href="/client/DatVe">
                        <img alt="Ticket" loading="lazy" width="112" height="36" decoding="async" class="max-w-min w-[84px] h-[27px] lg:w-[112px] lg:h-[36px] object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp">
                    </a>
                    <div class="hover relative">
                        <div class="px-3 text-left md:cursor-pointer group hover:text-orange-500 transition-all duration-300">
                            <a class="py-7 flex text-sm justify-between items-center md:pr-0 pr-5 group hover:text-orange-500 transition-all duration-300 ease-in-out not-italic">
                                Phim
                                <span class="text-xs md:ml-2 md:block hidden group-hover:text-primary transition-all duration-300 ease-in-out text-[#777777]">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="hover relative">
                        <div class="px-3 text-left md:cursor-pointer group hover:text-orange-500 transition-all duration-300">
                            <a class="py-7 flex text-sm justify-between items-center md:pr-0 pr-5 group capitalize hover:text-orange-500 transition-all duration-300">
                                Sản phẩm
                                <span class="text-xs md:ml-2 md:block hidden group-hover:text-primary transition-all duration-300 ease-in-out text-[#777777]">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="hover relative">
                        <div class="px-3 text-left md:cursor-pointer group hover:text-orange-500 transition-all duration-300">
                            <a class="py-7 flex text-sm justify-between items-center md:pr-0 pr-5 group capitalize hover:text-orange-500 transition-all duration-300">
                                Góc điện ảnh
                                <span class="text-xs md:ml-2 md:block hidden group-hover:text-primary transition-all duration-300 ease-in-out text-[#777777]">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="hover relative">
                        <div class="px-3 text-left md:cursor-pointer group hover:text-orange-500 transition-all duration-300">
                            <a class="py-7 flex text-sm justify-between items-center md:pr-0 pr-5 group capitalize hover:text-orange-500 transition-all duration-300">
                                Sự Kiện
                                <span class="text-xs md:ml-2 md:block hidden group-hover:text-primary transition-all duration-300 ease-in-out text-[#777777]">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="hover relative">
                        <div class="px-3 text-left md:cursor-pointer group hover:text-orange-500 transition-all duration-300">
                            <a class="py-7 flex text-sm justify-between capitalize items-center md:pr-0 pr-5 group hover:text-orange-500 transition-all duration-300">
                                Rạp/Giá vé
                                <span class="text-xs md:ml-2 md:block hidden group-hover:text-primary transition-all duration-300 ease-in-out text-grey-40">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden screen1200:flex screen1200:grow screen1200:basis-6/12 screen1200:justify-end uppercase items-center relative transition-all duration-300">
                <div class="search mr-4">
                    <a class="font-light cursor-pointer text-sm text-[#777]" title="Tìm kiếm">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <a class="ml-2 text-sm text-[#777] capitalize cursor-pointer transition-all duration-300 hover:text-[#f26b38]">Đăng nhập</a>
            </div>
            <div class="flex md:grow md:basis-6/12 justify-end screen1200:hidden items-center">
                <a class="text-sm text-[#777] capitalize cursor-pointer transition-all duration-300 hover:text-[#f26b38]">
                    <i class="fas fa-user mr-1"></i>
                    Đăng nhập
                </a>
                <button class="ml-4" aria-label="Toggle navigation">
                    <i class="fas fa-bars text-[#777777]"></i>
                </button>
            </div>
        </nav>
    </div>
</header>