@page
@model Web.Pages.Admin.CommentsModel
@{   
	Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0051)https://flixgo.volkovdesign.com/admin/comments.html -->
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="~/AdminTemplate_files/bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminTemplate_files/slimselect.css">
	<link rel="stylesheet" href="~/AdminTemplate_files/admin.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="https://flixgo.volkovdesign.com/admin/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="https://flixgo.volkovdesign.com/admin/icon/favicon-32x32.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template</title>

	<style id="smooth-scrollbar-style">
		[data-scrollbar] {
		  display: block;
		  position: relative;
		}

		.scroll-content {
		  -webkit-transform: translate3d(0, 0, 0);
				  transform: translate3d(0, 0, 0);
		}

		.scrollbar-track {
		  position: absolute;
		  opacity: 0;
		  z-index: 1;
		  background: rgba(222, 222, 222, .75);
		  -webkit-user-select: none;
			 -moz-user-select: none;
			  -ms-user-select: none;
				  user-select: none;
		  -webkit-transition: opacity 0.5s 0.5s ease-out;
				  transition: opacity 0.5s 0.5s ease-out;
		}
		.scrollbar-track.show,
		.scrollbar-track:hover {
		  opacity: 1;
		  -webkit-transition-delay: 0s;
				  transition-delay: 0s;
		}

		.scrollbar-track-x {
		  bottom: 0;
		  left: 0;
		  width: 100%;
		  height: 8px;
		}
		.scrollbar-track-y {
		  top: 0;
		  right: 0;
		  width: 8px;
		  height: 100%;
		}
		.scrollbar-thumb {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 8px;
		  height: 8px;
		  background: rgba(0, 0, 0, .5);
		  border-radius: 4px;
		}
	</style>
</head>
<body>
	<!-- header -->
	<header class="header">
		<div class="header__content">
			<!-- header logo -->
			<a href="https://flixgo.volkovdesign.com/admin/index.html" class="header__logo">
				<img src="~/AdminTemplate_files/logo.svg" alt="">
			</a>
			<!-- end header logo -->
			<!-- header menu btn -->
			<button class="header__btn" type="button">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<!-- end header menu btn -->
		</div>
	</header>
	<!-- end header -->
	<!-- sidebar -->
	<div class="sidebar">
		<!-- sidebar logo -->
		<a href="https://flixgo.volkovdesign.com/admin/index.html" class="sidebar__logo">
			<img src="~/AdminTemplate_files/logo.svg" alt="">
		</a>
		<!-- end sidebar logo -->
		<!-- sidebar user -->
		<div class="sidebar__user">
			<div class="sidebar__user-img">
				<img src="~/AdminTemplate_files/user.svg" alt="">
			</div>

			<div class="sidebar__user-title">
				<span>Admin</span>
				<p>John Doe</p>
			</div>

			<button class="sidebar__user-btn" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path></svg>
			</button>
		</div>
		<!-- end sidebar user -->
		<!-- sidebar nav -->
		@await Html.PartialAsync("_SideBarAdmin")
		<!-- end sidebar nav -->
		<!-- sidebar copyright -->
		<div class="sidebar__copyright">© FlixGo, 2018—2023. <br>Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank" rel="noopener">Dmitry Volkov</a>.</div>
		<!-- end sidebar copyright -->
	</div>
	<!-- end sidebar -->
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Comments</h2>

						<span class="main__title-stat">21,356 Total</span>

						<div class="main__title-wrap">
							<select class="filter__select" name="sort" id="filter__sort" data-id="ss-qkv21109" tabindex="-1" aria-hidden="true" style="display: none;">
								<option value="0">Date created</option>
								<option value="1">Rating</option>
							</select><div data-id="ss-qkv21109" id="ss-qkv21109" tabindex="0" class="ss-main filter__select" role="combobox" aria-haspopup="listbox" aria-controls="ss-qkv21109" aria-expanded="false" aria-activedescendant="4r0l51yp"><div class="ss-values"><div class="ss-single">Date created</div></div><div class="ss-deselect ss-hide"><svg viewBox="0 0 100 100"><path d="M10,10 L90,90 M10,90 L90,10"></path></svg></div><svg class="ss-arrow" viewBox="0 0 100 100"><path d="M10,30 L50,70 L90,30"></path></svg></div>

							<!-- search -->
							<form action="https://flixgo.volkovdesign.com/admin/comments.html#" class="main__title-form">
								<input type="text" placeholder="Key word..">
								<button type="button">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"></path></svg>
								</button>
							</form>
							<!-- end search -->
						</div>
					</div>
				</div>
				<!-- end main title -->
				<!-- comments -->
				<div class="col-12">
					<div class="catalog catalog--1" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
						<div class="scroll-content">
							<table class="catalog__table">
								<thead>
									<tr>
										<th>ID</th>
										<th>ITEM</th>
										<th>AUTHOR</th>
										<th>TEXT</th>
										<th>LIKE / DISLIKE</th>
										<th>CRAETED DATE</th>
										<th>ACTIONS</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>
											<div class="catalog__text">11</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">I Dream in Another Language</a></div>
										</td>
										<td>
											<div class="catalog__text">Charlize Theron</div>
										</td>
										<td>
											<div class="catalog__text">When a renowned archaeologist goes...</div>
										</td>
										<td>
											<div class="catalog__text">12 / 7</div>
										</td>
										<td>
											<div class="catalog__text">05.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">12</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">The Forgotten Road</a></div>
										</td>
										<td>
											<div class="catalog__text">Tyreese Gibson</div>
										</td>
										<td>
											<div class="catalog__text">A down-on-his-luck boxer struggles...</div>
										</td>
										<td>
											<div class="catalog__text">67 / 22</div>
										</td>
										<td>
											<div class="catalog__text">05.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">13</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Whitney</a></div>
										</td>
										<td>
											<div class="catalog__text">Jordana Brewster</div>
										</td>
										<td>
											<div class="catalog__text">When an old friend offers him...</div>
										</td>
										<td>
											<div class="catalog__text">44 / 5</div>
										</td>
										<td>
											<div class="catalog__text">04.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">14</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Red Sky at Night</a></div>
										</td>
										<td>
											<div class="catalog__text">Son Gun</div>
										</td>
										<td>
											<div class="catalog__text">But as the stakes get higher...</div>
										</td>
										<td>
											<div class="catalog__text">20 / 6</div>
										</td>
										<td>
											<div class="catalog__text">04.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">15</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Into the Unknown</a></div>
										</td>
										<td>
											<div class="catalog__text">Louis Leterrier</div>
										</td>
										<td>
											<div class="catalog__text">A brilliant scientist discovers...</div>
										</td>
										<td>
											<div class="catalog__text">8 / 132</div>
										</td>
										<td>
											<div class="catalog__text">04.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">16</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">The Unseen Journey</a></div>
										</td>
										<td>
											<div class="catalog__text">Brian Cranston</div>
										</td>
										<td>
											<div class="catalog__text">But when her groundbreaking...</div>
										</td>
										<td>
											<div class="catalog__text">6 / 1</div>
										</td>
										<td>
											<div class="catalog__text">03.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">17</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Savage Beauty</a></div>
										</td>
										<td>
											<div class="catalog__text">Matt Jones</div>
										</td>
										<td>
											<div class="catalog__text">Along the way, she must...</div>
										</td>
										<td>
											<div class="catalog__text">10 / 0</div>
										</td>
										<td>
											<div class="catalog__text">03.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">18</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Endless Horizon</a></div>
										</td>
										<td>
											<div class="catalog__text">Rosa Lee</div>
										</td>
										<td>
											<div class="catalog__text">Renewable energy source...</div>
										</td>
										<td>
											<div class="catalog__text">13 / 14</div>
										</td>
										<td>
											<div class="catalog__text">02.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">19</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">The Lost Key</a></div>
										</td>
										<td>
											<div class="catalog__text">Tess Harper</div>
										</td>
										<td>
											<div class="catalog__text">Confront her own past to save...</div>
										</td>
										<td>
											<div class="catalog__text">12 / 7</div>
										</td>
										<td>
											<div class="catalog__text">02.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="catalog__text">20</div>
										</td>
										<td>
											<div class="catalog__text"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">Echoes of Yesterday</a></div>
										</td>
										<td>
											<div class="catalog__text">Gene Graham</div>
										</td>
										<td>
											<div class="catalog__text">Her father and uncover the secrets...</div>
										</td>
										<td>
											<div class="catalog__text">67 / 22</div>
										</td>
										<td>
											<div class="catalog__text">01.02.2023</div>
										</td>
										<td>
											<div class="catalog__btns">
												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--view" data-bs-target="#modal-view">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"></path></svg>
												</button>

												<button type="button" data-bs-toggle="modal" class="catalog__btn catalog__btn--delete" data-bs-target="#modal-delete">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"></path></svg>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><div class="scrollbar-track scrollbar-track-x show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1178px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 772px; transform: translate3d(0px, 0px, 0px);"></div></div>
					</div>
				</div>
				<!-- end comments -->
				<!-- paginator -->
				<div class="col-12">
					<div class="main__paginator">
						<!-- amount -->
						<span class="main__paginator-pages">Showing 10 of 2356</span>
						<!-- end amount -->

						<ul class="main__paginator-list">
							<li>
								<a href="https://flixgo.volkovdesign.com/admin/comments.html#">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z"></path></svg>
									<span>Prev</span>
								</a>
							</li>
							<li>
								<a href="https://flixgo.volkovdesign.com/admin/comments.html#">
									<span>Next</span>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z"></path></svg>
								</a>
							</li>
						</ul>

						<ul class="paginator">
							<li class="paginator__item paginator__item--prev">
								<a href="https://flixgo.volkovdesign.com/admin/comments.html#"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"></path></svg></a>
							</li>
							<li class="paginator__item"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">1</a></li>
							<li class="paginator__item paginator__item--active"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">2</a></li>
							<li class="paginator__item"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">3</a></li>
							<li class="paginator__item"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">4</a></li>
							<li class="paginator__item"><span>...</span></li>
							<li class="paginator__item"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">29</a></li>
							<li class="paginator__item"><a href="https://flixgo.volkovdesign.com/admin/comments.html#">30</a></li>
							<li class="paginator__item paginator__item--next">
								<a href="https://flixgo.volkovdesign.com/admin/comments.html#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"></path></svg></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end paginator -->
			</div>
		</div>
	</main>
	<!-- end main content -->
	<!-- view modal -->
	<div class="modal fade" id="modal-view" tabindex="-1" aria-labelledby="modal-view" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal__content modal__content--view">
					<div class="comments__autor">
						<img class="comments__avatar" src="~/AdminTemplate_files/user.svg" alt="">
						<span class="comments__name">John Doe</span>
						<span class="comments__time">30.08.2023, 17:53</span>
					</div>
					<p class="comments__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
					<div class="comments__actions">
						<div class="comments__rate">
							<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"></path></svg>12</span>

							<span>7<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"></path></svg></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end view modal -->
	<!-- delete modal -->
	<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal__content">
					<form action="https://flixgo.volkovdesign.com/admin/comments.html#" class="modal__form">
						<h4 class="modal__title">Comment delete</h4>

						<p class="modal__text">Are you sure to permanently delete this comment?</p>

						<div class="modal__btns">
							<button class="modal__btn modal__btn--apply" type="button"><span>Delete</span></button>
							<button class="modal__btn modal__btn--dismiss" type="button" data-bs-dismiss="modal" aria-label="Close"><span>Dismiss</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end delete modal -->
	<!-- JS -->
	<script src="~/AdminTemplate_files/bootstrap.bundle.min.js.download"></script>
	<script src="~/AdminTemplate_files/smooth-scrollbar.js.download"></script>
	<script src="~/AdminTemplate_files/slimselect.min.js.download"></script>
	<script src="~/AdminTemplate_files/admin.js.download"></script>
	<div data-id="ss-qkv21109" id="ss-qkv21109" class="ss-content filter__select" role="listbox"><div class="ss-search ss-hide"><input readonly="" type="search" placeholder="Search" tabindex="-1" aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off"></div><div class="ss-list"><div data-id="4r0l51yp" id="4r0l51yp" class="ss-option ss-selected" role="option" aria-selected="true">Date created</div><div data-id="0p54vcbu" id="0p54vcbu" class="ss-option" role="option" aria-selected="false">Rating</div></div></div>

</body>
</html>
}
